/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color:#2B2B2B;
}

/*Fonts family
font-family: 'EB Garamond', serif;
font-family: 'Inter', sans-serif;*/


/* Mobile*/

/*Estilos del Header*/

header{
    height: 80px;
    background-color: #E9E8E5;
    top: 0;
    z-index: 200;
}

.navegacion{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

.logo-header{
    height: 40px;
    margin: 20px;
}

.limpieza{
    display: none;
}


 /*estilos del body*/

 main{
    margin-left: 50px;
    margin-right: 50px;
}

/*Main - Home*/

.encabezado{
    padding: 10px;
    display: grid;
    place-items: center;
    margin: 20px;
}

.logo-texto{
    height: 50px;
}

.carrousel{
    width: 100%;
}


h4{
    font-size: 10px;
    color: #615c49;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    line-height: 1.8;
    font-weight: 400;
}

hr{
    margin-right: 40%;
    margin-left: 40%;
    height: 2px;
    border-color: #615C49;
    background-color: #615c49;
}

 /*Main - Quienes somos*/

 #estancia-pizarro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 25px;
}

.caja-texto-quienes-somos{
    display: flex;
    flex-direction: column;
    align-items: center;
}


h2{
    color: #615c49;
    font-family: 'EB Garamond', serif;
    margin-bottom: 20px;
    text-align: start;
    font-size: 22px;
    font-variant-caps: small-caps;
}

.texto-quienes-somos{
    font-size: 12px;
    width: 380px;
}

.conjunto-llave{
    height: 20px;
    margin: 20px;
}

.foto-cerradura{
    width: 100%;
    margin-top: 10px;
}

/*Main - espacio*/

#espacio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.caja-espacio{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
    margin-bottom: 20px;
}

.foto-espacio{
    display: none;
}

.foto-espacio-mobile{
    width: 100%;
    margin-bottom: 15px;
}
.foto-espacio-salon{
    width: 100%;
    margin-bottom: 15px;
}

h3{
    color: #615c49;
    font-family: 'EB Garamond', serif;
    font-size: 18px;
    margin-bottom: 10px;
}

.texto-espacio{
    font-size: 12px;
}

.texto-espacio-dos{
    font-size: 12px;
}


/*Main - Eventos*/

#eventos{
    margin-top: 20px;
    margin-bottom: 5px;
}

.caja-eventos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.foto-eventos{
    width: 100%;
}

.caja-textos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

.eventos{
    margin-top: 20px;
    margin-bottom: 20px;

}

.titulos-eventos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h5{
    color: #615C49;
    font-size: 14px;
    margin: 10px;
}

.texto-eventos{
    text-align: center;
    font-size: 12px;
}

/*Main - Servicios*/
#servicios{
    margin-top: 50px;
}

.parrafo-servicios{
    font-size: 12px;
}

.servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.foto-servicios{
    width: 100%;
}

.caja-servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 10px;
}

.titulo-servicios{
    color: #615C49;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    font-family: 'EB Garamond', serif;
}

.listado-servicios li{
    text-align: center;
    list-style: none;
    font-size: 12px;
    margin-right: 30px;
}

/*Main - contacto - izquierda*/

#contacto{
    margin-top: 50px;
}


.todo-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

}

.contenedor-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.datos-contacto{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.filas{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.listado-contacto{
    width: 65px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.listado-datos{
    width: 200px;
    font-size: 12px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h6{
    color: #615C49;
    font-size: 16px;
    font-family: 'EB Garamond', serif;
}

.iconos-c{
    color: #2B2B2B;
    font-style: normal;
    text-decoration: none;
}

.iconos-c i{
    color: #615C49;
    margin-right: 15px;

}

.mapa-ubicacion{
    width: 100%;
    margin-top: 50px;
}


/*Main - contacto - derecha*/

.contenedor-derecho{
    padding: 5x;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.titulo-formulario{
    font-size: 14px;
    color: #615c49;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 400;
    padding: 20px;
}

.btn{
    background-color: #BCB8AA;
    margin: 10px;
    font-size: 14px;
    font-weight: 400;
    width: 120px;
    height: 40px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn i{
    color: white;
    margin: 6px;
}

.btn:hover{
    background-color: #615C49;
    color: white;
}

.parrafo-formulario{
    margin-top: 30px;
    font-size: 12px;
    text-align: center;
}

.sello{
    height: 100px;
    margin: 25px;
}

.iconos i{
    color: #615C49;
    margin: 5px;
}

/*Main - Arriba*/

.arriba{
    display: none;
}


/*Footer*/

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E9E8E5;
    margin-top: 20px;

}

.sello-ep{
    height: 30px;
    margin: 25px;
}

.texto-footer{
    font-size: 8px;
    text-align: center;
    line-height: .1;
}










/* Tablet*/
@media screen and (min-width: 768px) {
    
    /*Estilos del Header*/

    header{
        height: 90px;
    }

    .logo-header{
        height: 50px;
        margin: 20px;
    }

    .boton-nav{
        height: 20px;
        margin: 30px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .limpieza{
        display: block;
        text-decoration: none;
        color: #2B2B2B;
    }


    /*estilos del body*/

    main{
        margin-left: 150px;
        margin-right: 150px;
    }
    

    /*Main - Home*/

    .encabezado{
        padding: 20px;
        height: 100px;
    }

    .logo-texto{
        height: 70px;
    }

    h4{
        font-size: 16px;
        margin-top: 40px;
    }


    /*Main - Quienes somos*/

    h2{
        font-size: 26px;
    }

    .texto-quienes-somos{
        font-size: 14px;
        width: 100%;
    }

    /*Main - espacio*/

    h3{
        font-size: 22px;
    }

    .texto-espacio{
        font-size: 14px;
    }
    
    .texto-espacio-dos{
        font-size: 14px;
    }

    /*Main - Eventos*/

    .titulos-eventos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 20px;
    }

    .texto-eventos{
        font-size: 14px;
    }


    /*Main - Servicios*/
    #servicios{
        margin-top: 30px;
    }

    .caja-servicios{
        margin-bottom: 15px;
    }
    .parrafo-servicios{
        font-size: 14px;
    }

    .titulo-servicios{
        font-size: 18px;
        font-weight: bold;
        margin-top: 20px;

    }
    .listado-servicios li{
        font-size: 14px;
    }

    /*Main - contacto - izquierda*/

    #contacto{
        margin-top: 80px;
    }
    .contenedor-contacto{
        padding: 10px;
    }

    .datos-contacto{
        padding: 20px;
        height: 250px;
    }

    .filas{
        width: 500px;
    }

    br{
        display: none;
    }

    h6{
        color: #615C49;
        font-size: 18px;
        font-family: 'EB Garamond', serif;
        margin-bottom: 37px;
    }

    .listado-datos{
        width: 500px;
        font-size: 14px;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .listado-contacto{
        width: 100px;
    }

    /*Main - contacto - derecha*/

    .contenedor-derecho{
        height: 600px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .titulo-formulario{
        font-size: 16px;
        margin-top: 10px;
    }

    .parrafo-formulario{
        font-size: 14px;
    }

    .sello{
        height: 120px;
        margin: 40px;
    }
}
    
    /*Footer*/

    .sello-ep{
        height: 40px;
        margin: 25px;
    }

    .texto-footer{
        font-size: 10px;
    }










/* Desktop*/

@media screen and (min-width: 1027px) {


    /*estilos del body*/

    main{
        margin-left: 250px;
        margin-right: 250px;
    }
    #body{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    /*Main - Home*/

    .encabezado{
        padding: 40px;
        display: grid;
        place-items: center;
        height: 200px;
    }

    .logo-texto{
        height: 100px;
    }


    h4{
        font-size: 18px;
        margin-top: 50px;
        letter-spacing: .5px;
    }

    hr{
        margin-right: 45%;
        margin-left: 45%;
    }


    /*Main - Quienes somos*/

    #estancia-pizarro{
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        margin-top: 100px;
    }

    h2{
        margin-left: 20px;
        font-size: 35px;
    }

    .texto-quienes-somos{
        padding: 5px 100px 10px 20px;
        font-size: 16px;
        width: 800px;

    }


    .foto-cerradura{
        height: 500px;
        width: 550px;
    }
    

    /*Main - espacio*/

    #espacio{
        margin-top: 100px;
        margin-bottom: 25px;

    }

    .caja-espacio{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .foto-espacio{
        display: block;
        height: 400px;
        width: 600px;
        margin-right: 20px;
        margin-left: 20px;
        padding-bottom: 15px;
    }

    .foto-espacio-salon{
        display: block;
        height: 400px;
        width: 600px;
        margin-right: 20px;
        margin-left: 20px;

    }


    .foto-espacio-mobile{
        display: none;
    }

    h3{
        color: #615c49;
        font-family: 'EB Garamond', serif;
        font-size: 25px;
        margin-bottom: 20px;
    }

    .texto-espacio{
        font-size: 16px;
        padding-right: 100px;
        width: 750px;
    }

    .texto-espacio-dos{
        font-size: 16px;
        padding-left: 120px;
        text-align: right;
        width: 750px;
    }

    .alineado-derecha{
        text-align: right;
    }
    

    /*Main - Eventos*/

    #eventos{
        margin-top: 50px;
        margin-bottom: 25px;
    }

    .caja-eventos{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .foto-eventos{
        height:450px;
        width: 700px;
        margin: 25px;
    }

    .caja-textos{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        height:450px ;
    }

    .eventos{
        margin-top: 60px;
        margin-bottom: 50px;
    }

    .titulos-eventos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 50px 30px 50px 30px;
    }

    h5{
        font-size: 18px;
        color: #615C49;
    }

    .texto-eventos{
        margin: 25px;
        text-align: center;
        font-size: 16px;
    }

    /*Main - Servicios*/
    #servicios{
        margin-top: 100px;
    }

    .parrafo-servicios{
        font-size: 16px;
        margin-left: 20px;
        padding-right: 650px;
        width: 1400px;
    }

    .servicios{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .foto-servicios{
        width:  100%;
        padding: 15px;
    }

    .caja-servicios{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 50px;
    }

    .titulo-servicios{
        color: #615C49;
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
        font-family: 'EB Garamond', serif;
        font-weight: bold;
    }

    .listado-servicios li{
        font-size: 16px;
        text-align: center;
        list-style: none;
        width: 100%;
    }

    /*Main - contacto - izquierda*/

    #contacto{
        margin-top: 100px;
    }

    .todo-contacto{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin-top: 30px;
    }

    .contenedor-contacto{
        padding: 30px;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .datos-contacto{
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .filas{
        width: 600px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .listado-contacto{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    br{
        display: none;
    }

    .listado-datos{
        width: 500px;
        font-size: 16px;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    h6{
        color: #615C49;
        font-size: 20px;
        font-family: 'EB Garamond', serif;
        margin-bottom: 37px;
    }


    .iconos-c{
        color: #2B2B2B;
        font-style: normal;
        text-decoration: none;
    }


    .iconos-c i{
        color: #615C49;
        margin-right: 15px;
    }

    .mapa-ubicacion{
        height: 300px;
        width: 600px;
        margin-top: 50px;
    }

    /*Main - contacto - derecha*/

    .contenedor-derecho{
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 80px;
    }

    .titulo-formulario{
        font-size: 18px;
        color: #615c49;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
        font-weight: 400;
        width: 550px;
    }

    .sello{
        height: 150px;
        margin: 40px;
    }

    .iconos i{
        color: #615C49;
        margin: 5px;
    }

    .iconos i:hover{
        color: #BCB8AA;
        scale: 1.2;
    }


    .btn{
        background-color: #BCB8AA;
        margin: 25px;
        font-weight: 400;
        width: 150px;
        height: 50px;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .btn i{
        color: white;
        margin: 10px;
    }

    .btn:hover{
        background-color: #615C49;
        color: white;
    }

    .parrafo-formulario{
        text-align: center;
        font-size: 16px;
        width: 550px;
    }

    /*Main - Arriba*/

    .arriba{
        margin-top: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .arriba a{
        text-decoration: none;
        color: #615C49;
        transition: color 300ms;
    }

    .arriba a:hover{
        color: #BCB8AA;
    }


    .arriba a i{
        margin: 8px;
        color: #615C49;
    }

    /*Footer*/

    .sello-ep{
        height: 50px;
        margin: 25px;
    }

    .texto-footer{
        font-size: 11px;
        text-align: center;
    }

}
